<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_lPbOoH5ZEeWklJWqViJztw" specification="interface:&#xD;&#xA;in event stop&#xD;&#xA;in event forward&#xD;&#xA;in event reverse&#xD;&#xA;in event gearUp&#xD;&#xA;in event gearDown&#xD;&#xA;in event gearReverse&#xD;&#xA;in event accelerate&#xD;&#xA;in event break&#xD;&#xA;&#xD;&#xA;internal:&#xD;&#xA;var gear:integer = 0&#xD;&#xA;var inReverse:boolean = false&#xD;&#xA;var speed:integer = 0" name="car">
    <regions xmi:id="_lPccwH5ZEeWklJWqViJztw" name="Gear">
      <vertices xsi:type="sgraph:Entry" xmi:id="_lPdq4X5ZEeWklJWqViJztw">
        <outgoingTransitions xmi:id="_lPfgEH5ZEeWklJWqViJztw" target="_lPeR9H5ZEeWklJWqViJztw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_lPeR9H5ZEeWklJWqViJztw" specification="accelerate[inReverse]/ speed -= 1&#xD;&#xA;accelerate[!inReverse &amp;&amp; gear != 0] / speed += 7 - gear&#xD;&#xA;break[speed &lt; 0]/ speed += 1&#xD;&#xA;break[speed > 0]/ speed -= 1" name="Drive" incomingTransitions="_lPfgEH5ZEeWklJWqViJztw _ZsUbwH7xEeWwqsPDmQHg6g _LZGIkH8DEeWwqsPDmQHg6g _C6QIcH8NEeWwqsPDmQHg6g">
        <outgoingTransitions xmi:id="_O67nsH7vEeWwqsPDmQHg6g" specification="gearUp[active(Direction.Stop) || &#xD;&#xA;&#x9;active(Direction.Forward)&#xD;&#xA;]" target="_SHEecH7tEeWwqsPDmQHg6g"/>
        <outgoingTransitions xmi:id="_kY9fcH8DEeWwqsPDmQHg6g" specification="gearReverse[active(Direction.Stop)]" target="_qzO2MH7tEeWwqsPDmQHg6g"/>
        <outgoingTransitions xmi:id="_TYMXAH8MEeWwqsPDmQHg6g" specification="gearDown[active(Direction.Stop) &#xD;&#xA;&#x9;|| active(Direction.Forward)&#xD;&#xA;]" target="_XpUmEH7tEeWwqsPDmQHg6g"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_SHEecH7tEeWwqsPDmQHg6g" specification="entry[gear &lt; 6]/ gear += 1" name="GearUp" incomingTransitions="_O67nsH7vEeWwqsPDmQHg6g">
        <outgoingTransitions xmi:id="_ZsUbwH7xEeWwqsPDmQHg6g" specification="after 1s" target="_lPeR9H5ZEeWklJWqViJztw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_XpUmEH7tEeWwqsPDmQHg6g" specification="entry[gear > 0]/&#xD;&#xA;gear -= 1" name="GearDown" incomingTransitions="_TYMXAH8MEeWwqsPDmQHg6g">
        <outgoingTransitions xmi:id="_C6QIcH8NEeWwqsPDmQHg6g" specification="after 1s" target="_lPeR9H5ZEeWklJWqViJztw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_qzO2MH7tEeWwqsPDmQHg6g" specification="entry/&#xD;&#xA;inReverse = !inReverse" name="Reverse" incomingTransitions="_kY9fcH8DEeWwqsPDmQHg6g">
        <outgoingTransitions xmi:id="_LZGIkH8DEeWwqsPDmQHg6g" specification="after 1s" target="_lPeR9H5ZEeWklJWqViJztw"/>
      </vertices>
    </regions>
    <regions xmi:id="_nmcwYH5ZEeWklJWqViJztw" name="Direction">
      <vertices xsi:type="sgraph:State" xmi:id="_tw8WwH7oEeWwqsPDmQHg6g" name="Stop" incomingTransitions="_l0Mt9H7pEeWwqsPDmQHg6g _CwyYUH7qEeWwqsPDmQHg6g _mBCZ4H7qEeWwqsPDmQHg6g">
        <outgoingTransitions xmi:id="_Ud2scH7pEeWwqsPDmQHg6g" specification="[speed > 0]" target="_wZVVUH7oEeWwqsPDmQHg6g"/>
        <outgoingTransitions xmi:id="_xYWQYH7qEeWwqsPDmQHg6g" specification="[speed &lt; 0]" target="_zm2aMH7oEeWwqsPDmQHg6g"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_wZVVUH7oEeWwqsPDmQHg6g" name="Forward" incomingTransitions="_Ud2scH7pEeWwqsPDmQHg6g">
        <outgoingTransitions xmi:id="_l0Mt9H7pEeWwqsPDmQHg6g" specification="[speed == 0]" target="_tw8WwH7oEeWwqsPDmQHg6g"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_zm2aMH7oEeWwqsPDmQHg6g" name="Backward" incomingTransitions="_xYWQYH7qEeWwqsPDmQHg6g">
        <outgoingTransitions xmi:id="_mBCZ4H7qEeWwqsPDmQHg6g" specification="[speed == 0]" target="_tw8WwH7oEeWwqsPDmQHg6g"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="__AKmYH7pEeWwqsPDmQHg6g">
        <outgoingTransitions xmi:id="_CwyYUH7qEeWwqsPDmQHg6g" specification="" target="_tw8WwH7oEeWwqsPDmQHg6g"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_lPb1sH5ZEeWklJWqViJztw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_lPbOoH5ZEeWklJWqViJztw" measurementUnit="Pixel">
    <children xmi:id="_lPccwX5ZEeWklJWqViJztw" type="Region" element="_lPccwH5ZEeWklJWqViJztw">
      <children xsi:type="notation:DecorationNode" xmi:id="_lPdD0H5ZEeWklJWqViJztw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_lPdD0X5ZEeWklJWqViJztw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_lPdD0n5ZEeWklJWqViJztw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_lPdD035ZEeWklJWqViJztw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_lPdq4n5ZEeWklJWqViJztw" type="Entry" element="_lPdq4X5ZEeWklJWqViJztw">
          <children xmi:id="_lPdq5X5ZEeWklJWqViJztw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_lPeR8H5ZEeWklJWqViJztw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_lPeR8X5ZEeWklJWqViJztw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_lPeR8n5ZEeWklJWqViJztw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_lPdq5n5ZEeWklJWqViJztw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lPdq535ZEeWklJWqViJztw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_lPdq435ZEeWklJWqViJztw" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lPeR835ZEeWklJWqViJztw" x="217" y="-31"/>
        </children>
        <children xmi:id="_lPeR935ZEeWklJWqViJztw" type="State" element="_lPeR9H5ZEeWklJWqViJztw">
          <children xsi:type="notation:DecorationNode" xmi:id="_lPe5AH5ZEeWklJWqViJztw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_lPe5AX5ZEeWklJWqViJztw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_lPe5An5ZEeWklJWqViJztw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_lPe5A35ZEeWklJWqViJztw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_lPe5BH5ZEeWklJWqViJztw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lPe5BX5ZEeWklJWqViJztw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_lPe5Bn5ZEeWklJWqViJztw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_lPeR-H5ZEeWklJWqViJztw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_lPeR-X5ZEeWklJWqViJztw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_lPe5B35ZEeWklJWqViJztw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lPe5CH5ZEeWklJWqViJztw" x="8" y="-2" width="424" height="101"/>
        </children>
        <children xmi:id="_SHHhwH7tEeWwqsPDmQHg6g" type="State" element="_SHEecH7tEeWwqsPDmQHg6g">
          <children xsi:type="notation:DecorationNode" xmi:id="_SHII0H7tEeWwqsPDmQHg6g" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_SHII0X7tEeWwqsPDmQHg6g"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_SHII0n7tEeWwqsPDmQHg6g"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_SHII037tEeWwqsPDmQHg6g" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_SHIv4H7tEeWwqsPDmQHg6g" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SHIv4X7tEeWwqsPDmQHg6g"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_SHIv4n7tEeWwqsPDmQHg6g" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_SHHhwX7tEeWwqsPDmQHg6g" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_SHHhwn7tEeWwqsPDmQHg6g"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_SHJW8H7tEeWwqsPDmQHg6g" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SHHhw37tEeWwqsPDmQHg6g" x="122" y="169" width="198" height="82"/>
        </children>
        <children xmi:id="_XpT_AH7tEeWwqsPDmQHg6g" type="State" element="_XpUmEH7tEeWwqsPDmQHg6g">
          <children xsi:type="notation:DecorationNode" xmi:id="_XpT_AX7tEeWwqsPDmQHg6g" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_XpT_An7tEeWwqsPDmQHg6g"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_XpT_A37tEeWwqsPDmQHg6g"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XpT_BH7tEeWwqsPDmQHg6g" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_XpT_BX7tEeWwqsPDmQHg6g" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XpT_Bn7tEeWwqsPDmQHg6g"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XpT_B37tEeWwqsPDmQHg6g" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_XpT_CH7tEeWwqsPDmQHg6g" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_XpT_CX7tEeWwqsPDmQHg6g"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_XpT_Cn7tEeWwqsPDmQHg6g" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XpT_C37tEeWwqsPDmQHg6g" x="122" y="321" width="196" height="82"/>
        </children>
        <children xmi:id="_qzOPIH7tEeWwqsPDmQHg6g" type="State" element="_qzO2MH7tEeWwqsPDmQHg6g">
          <children xsi:type="notation:DecorationNode" xmi:id="_qzOPIX7tEeWwqsPDmQHg6g" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_qzOPIn7tEeWwqsPDmQHg6g"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_qzOPI37tEeWwqsPDmQHg6g"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qzOPJH7tEeWwqsPDmQHg6g" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_qzOPJX7tEeWwqsPDmQHg6g" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qzOPJn7tEeWwqsPDmQHg6g"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qzOPJ37tEeWwqsPDmQHg6g" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_qzOPKH7tEeWwqsPDmQHg6g" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_qzOPKX7tEeWwqsPDmQHg6g"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qzOPKn7tEeWwqsPDmQHg6g" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qzOPK37tEeWwqsPDmQHg6g" x="122" y="473" width="196" height="82"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lPdD1H5ZEeWklJWqViJztw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_lPccwn5ZEeWklJWqViJztw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lPdq4H5ZEeWklJWqViJztw" x="228" y="-38" width="457" height="685"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_lPgHI35ZEeWklJWqViJztw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_lPgHJX5ZEeWklJWqViJztw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_lPgHJn5ZEeWklJWqViJztw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_lPgHJ35ZEeWklJWqViJztw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_lPguMH5ZEeWklJWqViJztw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lPguMX5ZEeWklJWqViJztw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lPguMn5ZEeWklJWqViJztw" x="-38" y="-38" width="267" height="685"/>
    </children>
    <children xmi:id="_nmfMoH5ZEeWklJWqViJztw" type="Region" element="_nmcwYH5ZEeWklJWqViJztw">
      <children xsi:type="notation:DecorationNode" xmi:id="_nmfMo35ZEeWklJWqViJztw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nmfMpH5ZEeWklJWqViJztw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nmfMpX5ZEeWklJWqViJztw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_nmfMpn5ZEeWklJWqViJztw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_tw_aEH7oEeWwqsPDmQHg6g" type="State" element="_tw8WwH7oEeWwqsPDmQHg6g">
          <children xsi:type="notation:DecorationNode" xmi:id="_txAoMH7oEeWwqsPDmQHg6g" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_txAoMX7oEeWwqsPDmQHg6g"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_txAoMn7oEeWwqsPDmQHg6g"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_txBPQH7oEeWwqsPDmQHg6g" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_txB2UH7oEeWwqsPDmQHg6g" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_txB2UX7oEeWwqsPDmQHg6g"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_txDEcH7oEeWwqsPDmQHg6g" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_tw_aEX7oEeWwqsPDmQHg6g" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_tw_aEn7oEeWwqsPDmQHg6g"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_txDEcX7oEeWwqsPDmQHg6g" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tw_aE37oEeWwqsPDmQHg6g" x="65" y="200" width="310" height="82"/>
        </children>
        <children xmi:id="_wZXxkH7oEeWwqsPDmQHg6g" type="State" element="_wZVVUH7oEeWwqsPDmQHg6g">
          <children xsi:type="notation:DecorationNode" xmi:id="_wZY_sH7oEeWwqsPDmQHg6g" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_wZY_sX7oEeWwqsPDmQHg6g"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_wZY_sn7oEeWwqsPDmQHg6g"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_wZY_s37oEeWwqsPDmQHg6g" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_wZY_tH7oEeWwqsPDmQHg6g" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wZZmwH7oEeWwqsPDmQHg6g"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_wZZmwX7oEeWwqsPDmQHg6g" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_wZXxkX7oEeWwqsPDmQHg6g" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_wZXxkn7oEeWwqsPDmQHg6g"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_wZaN0H7oEeWwqsPDmQHg6g" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wZXxk37oEeWwqsPDmQHg6g" x="65" y="48" width="310" height="82"/>
        </children>
        <children xmi:id="_zm42cH7oEeWwqsPDmQHg6g" type="State" element="_zm2aMH7oEeWwqsPDmQHg6g">
          <children xsi:type="notation:DecorationNode" xmi:id="_zm5dgH7oEeWwqsPDmQHg6g" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_zm5dgX7oEeWwqsPDmQHg6g"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_zm5dgn7oEeWwqsPDmQHg6g"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_zm5dg37oEeWwqsPDmQHg6g" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_zm6EkH7oEeWwqsPDmQHg6g" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zm6EkX7oEeWwqsPDmQHg6g"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_zm6roH7oEeWwqsPDmQHg6g" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_zm42cX7oEeWwqsPDmQHg6g" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_zm42cn7oEeWwqsPDmQHg6g"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_zm6roX7oEeWwqsPDmQHg6g" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zm42c37oEeWwqsPDmQHg6g" x="65" y="352" width="310" height="82"/>
        </children>
        <children xmi:id="__AL0gH7pEeWwqsPDmQHg6g" type="Entry" element="__AKmYH7pEeWwqsPDmQHg6g">
          <children xmi:id="__ANpsH7pEeWwqsPDmQHg6g" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="__ANps37pEeWwqsPDmQHg6g" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="__ANptH7pEeWwqsPDmQHg6g"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="__AOQwH7pEeWwqsPDmQHg6g"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="__ANpsX7pEeWwqsPDmQHg6g" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="__ANpsn7pEeWwqsPDmQHg6g"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="__AL0gX7pEeWwqsPDmQHg6g" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="__AL0gn7pEeWwqsPDmQHg6g" x="27" y="219"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nmfMp35ZEeWklJWqViJztw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_nmfMoX5ZEeWklJWqViJztw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nmfMon5ZEeWklJWqViJztw" x="684" y="-38" width="457" height="685"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_lPb1sX5ZEeWklJWqViJztw"/>
    <edges xmi:id="_lPfgEX5ZEeWklJWqViJztw" type="Transition" element="_lPfgEH5ZEeWklJWqViJztw" source="_lPdq4n5ZEeWklJWqViJztw" target="_lPeR935ZEeWklJWqViJztw">
      <children xsi:type="notation:DecorationNode" xmi:id="_lPgHIH5ZEeWklJWqViJztw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_lPgHIX5ZEeWklJWqViJztw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_lPgHIn5ZEeWklJWqViJztw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_lPfgEn5ZEeWklJWqViJztw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_lPfgFH5ZEeWklJWqViJztw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_lPfgE35ZEeWklJWqViJztw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QZh-kH7tEeWwqsPDmQHg6g" id="(0.5025906735751295,0.0)"/>
    </edges>
    <edges xmi:id="_Ud5vwH7pEeWwqsPDmQHg6g" type="Transition" element="_Ud2scH7pEeWwqsPDmQHg6g" source="_tw_aEH7oEeWwqsPDmQHg6g" target="_wZXxkH7oEeWwqsPDmQHg6g">
      <children xsi:type="notation:DecorationNode" xmi:id="_Ud6W0X7pEeWwqsPDmQHg6g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Ud6W0n7pEeWwqsPDmQHg6g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Ud694H7pEeWwqsPDmQHg6g" x="-8" y="57"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Ud5vwX7pEeWwqsPDmQHg6g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Ud6W0H7pEeWwqsPDmQHg6g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Ud5vwn7pEeWwqsPDmQHg6g" points="[2, -34, 4, 132]$[2, -109, 4, 57]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Ud-oQH7pEeWwqsPDmQHg6g" id="(0.13602941176470587,0.45121951219512196)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Ud-oQX7pEeWwqsPDmQHg6g" id="(0.12867647058823528,0.2682926829268293)"/>
    </edges>
    <edges xmi:id="_l0OiYH7pEeWwqsPDmQHg6g" type="Transition" element="_l0Mt9H7pEeWwqsPDmQHg6g" source="_wZXxkH7oEeWwqsPDmQHg6g" target="_tw_aEH7oEeWwqsPDmQHg6g">
      <children xsi:type="notation:DecorationNode" xmi:id="_l0OjIn7pEeWwqsPDmQHg6g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_l0OjJH7pEeWwqsPDmQHg6g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_l0OjRX7pEeWwqsPDmQHg6g" x="7" y="-60"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_l0OiaH7pEeWwqsPDmQHg6g" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_l0OjIH7pEeWwqsPDmQHg6g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_l0Oia37pEeWwqsPDmQHg6g" points="[6, 7, 0, -78]$[6, 82, 0, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_l0QYx37pEeWwqsPDmQHg6g" id="(0.6911764705882353,0.9146341463414634)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qCEb0H7pEeWwqsPDmQHg6g" id="(0.7132352941176471,0.036585365853658534)"/>
    </edges>
    <edges xmi:id="_Cw0NgH7qEeWwqsPDmQHg6g" type="Transition" element="_CwyYUH7qEeWwqsPDmQHg6g" source="__AL0gH7pEeWwqsPDmQHg6g" target="_tw_aEH7oEeWwqsPDmQHg6g">
      <children xsi:type="notation:DecorationNode" xmi:id="_Cw00kX7qEeWwqsPDmQHg6g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Cw00kn7qEeWwqsPDmQHg6g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Cw00k37qEeWwqsPDmQHg6g" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Cw0NgX7qEeWwqsPDmQHg6g" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Cw00kH7qEeWwqsPDmQHg6g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Cw0Ngn7qEeWwqsPDmQHg6g" points="[5, 5, -32, -30]$[38, 70, 1, 35]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Cw334H7qEeWwqsPDmQHg6g" id="(0.01838235294117647,0.35365853658536583)"/>
    </edges>
    <edges xmi:id="_mBEPEH7qEeWwqsPDmQHg6g" type="Transition" element="_mBCZ4H7qEeWwqsPDmQHg6g" source="_zm42cH7oEeWwqsPDmQHg6g" target="_tw_aEH7oEeWwqsPDmQHg6g">
      <children xsi:type="notation:DecorationNode" xmi:id="_mBE2IH7qEeWwqsPDmQHg6g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_mBE2IX7qEeWwqsPDmQHg6g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_mBE2In7qEeWwqsPDmQHg6g" x="-8" y="63"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_mBEPEX7qEeWwqsPDmQHg6g" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_mBEPE37qEeWwqsPDmQHg6g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_mBEPEn7qEeWwqsPDmQHg6g" points="[1, -7, 53, 114]$[55, -82, 107, 39]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mBH5cH7qEeWwqsPDmQHg6g" id="(0.6948529411764706,0.0975609756097561)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_n0k0EH7qEeWwqsPDmQHg6g" id="(0.7095588235294118,0.9390243902439024)"/>
    </edges>
    <edges xmi:id="_xYXegH7qEeWwqsPDmQHg6g" type="Transition" element="_xYWQYH7qEeWwqsPDmQHg6g" source="_tw_aEH7oEeWwqsPDmQHg6g" target="_zm42cH7oEeWwqsPDmQHg6g">
      <children xsi:type="notation:DecorationNode" xmi:id="_xYYFkX7qEeWwqsPDmQHg6g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xYYFkn7qEeWwqsPDmQHg6g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xYYFk37qEeWwqsPDmQHg6g" x="7" y="-57"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xYXegX7qEeWwqsPDmQHg6g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xYYFkH7qEeWwqsPDmQHg6g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xYXegn7qEeWwqsPDmQHg6g" points="[4, 18, 1, -90]$[4, 93, 1, -15]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xYah0H7qEeWwqsPDmQHg6g" id="(0.12867647058823528,0.7682926829268293)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xYbI4H7qEeWwqsPDmQHg6g" id="(0.13970588235294118,0.2073170731707317)"/>
    </edges>
    <edges xmi:id="_O69c4H7vEeWwqsPDmQHg6g" type="Transition" element="_O67nsH7vEeWwqsPDmQHg6g" source="_lPeR935ZEeWklJWqViJztw" target="_SHHhwH7tEeWwqsPDmQHg6g">
      <children xsi:type="notation:DecorationNode" xmi:id="_O6-D8X7vEeWwqsPDmQHg6g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_O6-D8n7vEeWwqsPDmQHg6g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_O6-D837vEeWwqsPDmQHg6g" x="-31" y="-123"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_O69c4X7vEeWwqsPDmQHg6g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_O6-D8H7vEeWwqsPDmQHg6g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_O69c4n7vEeWwqsPDmQHg6g" points="[-23, 5, -105, -93]$[-23, 118, -105, 20]$[34, 118, -48, 20]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_O7BHQH7vEeWwqsPDmQHg6g" id="(0.19170984455958548,0.9512195121951219)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_O7BHQX7vEeWwqsPDmQHg6g" id="(0.25316455696202533,0.24390243902439024)"/>
    </edges>
    <edges xmi:id="_ZsWQ8H7xEeWwqsPDmQHg6g" type="Transition" element="_ZsUbwH7xEeWwqsPDmQHg6g" source="_SHHhwH7tEeWwqsPDmQHg6g" target="_lPeR935ZEeWklJWqViJztw">
      <children xsi:type="notation:DecorationNode" xmi:id="_ZsW4AX7xEeWwqsPDmQHg6g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ZsW4An7xEeWwqsPDmQHg6g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ZsW4A37xEeWwqsPDmQHg6g" x="-47" y="-13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ZsWQ8X7xEeWwqsPDmQHg6g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ZsW4AH7xEeWwqsPDmQHg6g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ZsWQ8n7xEeWwqsPDmQHg6g" points="[3, -1, 179, 137]$[57, -1, 233, 137]$[57, -114, 233, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZsaiYH7xEeWwqsPDmQHg6g" id="(0.9873417721518988,0.5121951219512195)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZsaiYX7xEeWwqsPDmQHg6g" id="(0.3064516129032258,0.7560975609756098)"/>
    </edges>
    <edges xmi:id="_LZGvoH8DEeWwqsPDmQHg6g" type="Transition" element="_LZGIkH8DEeWwqsPDmQHg6g" source="_qzOPIH7tEeWwqsPDmQHg6g" target="_lPeR935ZEeWklJWqViJztw">
      <children xsi:type="notation:DecorationNode" xmi:id="_LZGvpH8DEeWwqsPDmQHg6g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LZGvpX8DEeWwqsPDmQHg6g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LZGvpn8DEeWwqsPDmQHg6g" x="-180" y="-51"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_LZGvoX8DEeWwqsPDmQHg6g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_LZGvo38DEeWwqsPDmQHg6g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_LZGvon8DEeWwqsPDmQHg6g" points="[8, -2, -74, 419]$[102, -2, 20, 419]$[102, -419, 20, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LZIk0H8DEeWwqsPDmQHg6g" id="(0.9620253164556962,0.524390243902439)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LZIk0X8DEeWwqsPDmQHg6g" id="(0.9056603773584906,0.9878048780487805)"/>
    </edges>
    <edges xmi:id="_kY-tkH8DEeWwqsPDmQHg6g" type="Transition" element="_kY9fcH8DEeWwqsPDmQHg6g" source="_lPeR935ZEeWklJWqViJztw" target="_qzOPIH7tEeWwqsPDmQHg6g">
      <children xsi:type="notation:DecorationNode" xmi:id="_kY_UoH8DEeWwqsPDmQHg6g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_kY_UoX8DEeWwqsPDmQHg6g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_kY_Uon8DEeWwqsPDmQHg6g" x="113" y="-117"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_kY-tkX8DEeWwqsPDmQHg6g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_kY-tk38DEeWwqsPDmQHg6g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_kY-tkn8DEeWwqsPDmQHg6g" points="[-51, 6, -133, -426]$[-51, 423, -133, -9]$[44, 423, -38, -9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kZBw4H8DEeWwqsPDmQHg6g" id="(0.16745283018867924,0.9390243902439024)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kZBw4X8DEeWwqsPDmQHg6g" id="(0.20253164556962025,0.6219512195121951)"/>
    </edges>
    <edges xmi:id="_TYOzQH8MEeWwqsPDmQHg6g" type="Transition" element="_TYMXAH8MEeWwqsPDmQHg6g" source="_lPeR935ZEeWklJWqViJztw" target="_XpT_AH7tEeWwqsPDmQHg6g">
      <children xsi:type="notation:DecorationNode" xmi:id="_TYPaUX8MEeWwqsPDmQHg6g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_TYPaUn8MEeWwqsPDmQHg6g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_TYQBYH8MEeWwqsPDmQHg6g" x="37" y="-130"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_TYOzQX8MEeWwqsPDmQHg6g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_TYPaUH8MEeWwqsPDmQHg6g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_TYOzQn8MEeWwqsPDmQHg6g" points="[-35, 32, -86, -300]$[-35, 297, -86, -35]$[41, 297, -10, -35]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_TYTEsH8MEeWwqsPDmQHg6g" id="(0.17452830188679244,0.6707317073170732)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_TYTrwH8MEeWwqsPDmQHg6g" id="(0.056962025316455694,0.9512195121951219)"/>
    </edges>
    <edges xmi:id="_C6RWkH8NEeWwqsPDmQHg6g" type="Transition" element="_C6QIcH8NEeWwqsPDmQHg6g" source="_XpT_AH7tEeWwqsPDmQHg6g" target="_lPeR935ZEeWklJWqViJztw">
      <children xsi:type="notation:DecorationNode" xmi:id="_C6RWlH8NEeWwqsPDmQHg6g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_C6RWlX8NEeWwqsPDmQHg6g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_C6RWln8NEeWwqsPDmQHg6g" x="-113" y="-32"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_C6RWkX8NEeWwqsPDmQHg6g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_C6RWk38NEeWwqsPDmQHg6g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_C6RWkn8NEeWwqsPDmQHg6g" points="[33, -4, -82, 290]$[108, -4, -7, 290]$[108, -269, -7, 25]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_C6Ty0H8NEeWwqsPDmQHg6g" id="(0.8291139240506329,0.5487804878048781)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_C6Ty0X8NEeWwqsPDmQHg6g" id="(0.9245283018867925,0.7439024390243902)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
