<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_7JYz8Ib-EeWpKOiUw_s5xQ" name="chronometer">
    <regions xmi:id="_7JdscIb-EeWpKOiUw_s5xQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_7JloQYb-EeWpKOiUw_s5xQ">
        <outgoingTransitions xmi:id="_X17bcIcAEeWpKOiUw_s5xQ" specification="" target="_1aSGoIb_EeWpKOiUw_s5xQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_1aSGoIb_EeWpKOiUw_s5xQ" name="Timer" incomingTransitions="_X17bcIcAEeWpKOiUw_s5xQ">
        <regions xmi:id="_1aT70Ib_EeWpKOiUw_s5xQ" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_prjZMIcAEeWpKOiUw_s5xQ" name="T_active">
            <regions xmi:id="_prkAQYcAEeWpKOiUw_s5xQ" name="r1">
              <vertices xsi:type="sgraph:State" xmi:id="__Z2U0IcEEeWpKOiUw_s5xQ" specification="every 1 s / C.timer -=1" name="Running" incomingTransitions="_x1UcAIcIEeWpKOiUw_s5xQ _qrBjEIcJEeWpKOiUw_s5xQ">
                <outgoingTransitions xmi:id="_mT_jUIcHEeWpKOiUw_s5xQ" specification="C.up" target="_FNzQcIcFEeWpKOiUw_s5xQ"/>
                <outgoingTransitions xmi:id="_7mCIIIcIEeWpKOiUw_s5xQ" specification="[C.timer==0]" target="_V52-EIcFEeWpKOiUw_s5xQ"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_FNzQcIcFEeWpKOiUw_s5xQ" name="Paused" incomingTransitions="_mT_jUIcHEeWpKOiUw_s5xQ">
                <outgoingTransitions xmi:id="_x1UcAIcIEeWpKOiUw_s5xQ" specification="C.up" target="__Z2U0IcEEeWpKOiUw_s5xQ"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_V52-EIcFEeWpKOiUw_s5xQ" specification="entry / C.ring = true&#xD;&#xA;exit / C.ring = false" name="Ringing" incomingTransitions="_7mCIIIcIEeWpKOiUw_s5xQ"/>
              <vertices xsi:type="sgraph:Entry" xmi:id="_prUZkIcJEeWpKOiUw_s5xQ">
                <outgoingTransitions xmi:id="_qrBjEIcJEeWpKOiUw_s5xQ" specification="" target="__Z2U0IcEEeWpKOiUw_s5xQ"/>
              </vertices>
            </regions>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_r5YisIcAEeWpKOiUw_s5xQ" name="T_Idle" incomingTransitions="_LwhTYIcBEeWpKOiUw_s5xQ _KBPmwIcEEeWpKOiUw_s5xQ">
            <outgoingTransitions xmi:id="_EEsv0IcEEeWpKOiUw_s5xQ" specification="C.right" target="_wVED0IcAEeWpKOiUw_s5xQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_wVED0IcAEeWpKOiUw_s5xQ" specification="every 1 s / C.memTimer +=  1" name="SetTimer" incomingTransitions="_EEsv0IcEEeWpKOiUw_s5xQ _YidNcIcEEeWpKOiUw_s5xQ _qGgTAIcEEeWpKOiUw_s5xQ">
            <outgoingTransitions xmi:id="_KBPmwIcEEeWpKOiUw_s5xQ" specification="C.right" target="_r5YisIcAEeWpKOiUw_s5xQ"/>
            <outgoingTransitions xmi:id="_YidNcIcEEeWpKOiUw_s5xQ" specification="C.left / C.memTimer = 0" target="_wVED0IcAEeWpKOiUw_s5xQ"/>
            <outgoingTransitions xmi:id="_qGgTAIcEEeWpKOiUw_s5xQ" specification="C.up / C.memTimer += 5" target="_wVED0IcAEeWpKOiUw_s5xQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_1eyWsIcAEeWpKOiUw_s5xQ">
            <outgoingTransitions xmi:id="_LwhTYIcBEeWpKOiUw_s5xQ" specification="" target="_r5YisIcAEeWpKOiUw_s5xQ"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_fCIjcIcAEeWpKOiUw_s5xQ">
        <regions xmi:id="_fCJxkIcAEeWpKOiUw_s5xQ" name="r2"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_7JdFYIb-EeWpKOiUw_s5xQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_7JYz8Ib-EeWpKOiUw_s5xQ" measurementUnit="Pixel">
    <children xmi:id="_7JhW0Ib-EeWpKOiUw_s5xQ" type="Region" element="_7JdscIb-EeWpKOiUw_s5xQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_7JkaIIb-EeWpKOiUw_s5xQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7JkaIYb-EeWpKOiUw_s5xQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7JkaIob-EeWpKOiUw_s5xQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_7JkaI4b-EeWpKOiUw_s5xQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_7JloQob-EeWpKOiUw_s5xQ" type="Entry" element="_7JloQYb-EeWpKOiUw_s5xQ">
          <children xmi:id="_7JmPUIb-EeWpKOiUw_s5xQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_7Jm2YIb-EeWpKOiUw_s5xQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_7Jm2YYb-EeWpKOiUw_s5xQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_7Jm2Yob-EeWpKOiUw_s5xQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_7JmPUYb-EeWpKOiUw_s5xQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7JmPUob-EeWpKOiUw_s5xQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_7JloQ4b-EeWpKOiUw_s5xQ" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7Jm2Y4b-EeWpKOiUw_s5xQ" x="2" y="43" width="15" height="15"/>
        </children>
        <children xmi:id="_1aVxAIb_EeWpKOiUw_s5xQ" type="State" element="_1aSGoIb_EeWpKOiUw_s5xQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_1aXmMIb_EeWpKOiUw_s5xQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_1aXmMYb_EeWpKOiUw_s5xQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_1aXmMob_EeWpKOiUw_s5xQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_1aXmM4b_EeWpKOiUw_s5xQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_1aYNQIb_EeWpKOiUw_s5xQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1aYNQYb_EeWpKOiUw_s5xQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_1aY0UIb_EeWpKOiUw_s5xQ" type="StateFigureCompartment">
            <children xmi:id="_1ads0Ib_EeWpKOiUw_s5xQ" type="Region" element="_1aT70Ib_EeWpKOiUw_s5xQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_1ae68Ib_EeWpKOiUw_s5xQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_1ae68Yb_EeWpKOiUw_s5xQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_1ae68ob_EeWpKOiUw_s5xQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_1afiAIb_EeWpKOiUw_s5xQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_prlOYIcAEeWpKOiUw_s5xQ" type="State" element="_prjZMIcAEeWpKOiUw_s5xQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_prl1cIcAEeWpKOiUw_s5xQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_prl1cYcAEeWpKOiUw_s5xQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_prl1cocAEeWpKOiUw_s5xQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_prl1c4cAEeWpKOiUw_s5xQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_prmcgIcAEeWpKOiUw_s5xQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_prmcgYcAEeWpKOiUw_s5xQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_prmcgocAEeWpKOiUw_s5xQ" type="StateFigureCompartment">
                    <children xmi:id="_4CtyYIcIEeWpKOiUw_s5xQ" type="Region" element="_prkAQYcAEeWpKOiUw_s5xQ">
                      <children xsi:type="notation:DecorationNode" xmi:id="_4CtyYYcIEeWpKOiUw_s5xQ" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_4CtyYocIEeWpKOiUw_s5xQ"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_4CtyY4cIEeWpKOiUw_s5xQ"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_4CtyZIcIEeWpKOiUw_s5xQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_4CtyZYcIEeWpKOiUw_s5xQ" type="State" element="__Z2U0IcEEeWpKOiUw_s5xQ">
                          <children xsi:type="notation:DecorationNode" xmi:id="_4CtyZocIEeWpKOiUw_s5xQ" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_4CtyZ4cIEeWpKOiUw_s5xQ"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_4CtyaIcIEeWpKOiUw_s5xQ"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_4CtyaYcIEeWpKOiUw_s5xQ" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_4CtyaocIEeWpKOiUw_s5xQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4Ctya4cIEeWpKOiUw_s5xQ"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_4CtybIcIEeWpKOiUw_s5xQ" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_4CtybYcIEeWpKOiUw_s5xQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_4CtybocIEeWpKOiUw_s5xQ"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_4Ctyb4cIEeWpKOiUw_s5xQ" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4CtycIcIEeWpKOiUw_s5xQ" x="40" y="9" width="196" height="83"/>
                        </children>
                        <children xmi:id="_4CtycYcIEeWpKOiUw_s5xQ" type="State" element="_FNzQcIcFEeWpKOiUw_s5xQ">
                          <children xsi:type="notation:DecorationNode" xmi:id="_4CtycocIEeWpKOiUw_s5xQ" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_4Ctyc4cIEeWpKOiUw_s5xQ"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_4CtydIcIEeWpKOiUw_s5xQ"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_4CtydYcIEeWpKOiUw_s5xQ" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_4CtydocIEeWpKOiUw_s5xQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4Ctyd4cIEeWpKOiUw_s5xQ"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_4CtyeIcIEeWpKOiUw_s5xQ" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_4CtyeYcIEeWpKOiUw_s5xQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_4CtyeocIEeWpKOiUw_s5xQ"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_4Ctye4cIEeWpKOiUw_s5xQ" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4CtyfIcIEeWpKOiUw_s5xQ" x="306" y="9" width="196" height="82"/>
                        </children>
                        <children xmi:id="_4CtyfYcIEeWpKOiUw_s5xQ" type="State" element="_V52-EIcFEeWpKOiUw_s5xQ">
                          <children xsi:type="notation:DecorationNode" xmi:id="_4CtyfocIEeWpKOiUw_s5xQ" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_4Ctyf4cIEeWpKOiUw_s5xQ"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_4CtygIcIEeWpKOiUw_s5xQ"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_4CtygYcIEeWpKOiUw_s5xQ" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_4CtygocIEeWpKOiUw_s5xQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4Ctyg4cIEeWpKOiUw_s5xQ"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_4CtyhIcIEeWpKOiUw_s5xQ" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_4CtyhYcIEeWpKOiUw_s5xQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_4CtyhocIEeWpKOiUw_s5xQ"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_4Ctyh4cIEeWpKOiUw_s5xQ" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4CtyiIcIEeWpKOiUw_s5xQ" x="40" y="123" width="196" height="82"/>
                        </children>
                        <children xmi:id="_prUZkYcJEeWpKOiUw_s5xQ" type="Entry" element="_prUZkIcJEeWpKOiUw_s5xQ">
                          <children xmi:id="_prVAoocJEeWpKOiUw_s5xQ" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_prVApYcJEeWpKOiUw_s5xQ" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_prVApocJEeWpKOiUw_s5xQ"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_prVAp4cJEeWpKOiUw_s5xQ"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_prVAo4cJEeWpKOiUw_s5xQ" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_prVApIcJEeWpKOiUw_s5xQ"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_prVAoIcJEeWpKOiUw_s5xQ" fontName="Verdana" lineColor="4210752"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_prVAoYcJEeWpKOiUw_s5xQ" x="2" y="26"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4CtyiYcIEeWpKOiUw_s5xQ"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_4CtyiocIEeWpKOiUw_s5xQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4Ctyi4cIEeWpKOiUw_s5xQ"/>
                    </children>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_prlOYYcAEeWpKOiUw_s5xQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_prlOYocAEeWpKOiUw_s5xQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_prmcg4cAEeWpKOiUw_s5xQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_prlOY4cAEeWpKOiUw_s5xQ" x="40" y="142" width="576" height="310"/>
                </children>
                <children xmi:id="_r5a-8IcAEeWpKOiUw_s5xQ" type="State" element="_r5YisIcAEeWpKOiUw_s5xQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_r5bmAIcAEeWpKOiUw_s5xQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_r5bmAYcAEeWpKOiUw_s5xQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_r5bmAocAEeWpKOiUw_s5xQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_r5bmA4cAEeWpKOiUw_s5xQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_r5bmBIcAEeWpKOiUw_s5xQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r5bmBYcAEeWpKOiUw_s5xQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_r5cNEIcAEeWpKOiUw_s5xQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_r5a-8YcAEeWpKOiUw_s5xQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_r5a-8ocAEeWpKOiUw_s5xQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_r5cNEYcAEeWpKOiUw_s5xQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r5a-84cAEeWpKOiUw_s5xQ" x="59" y="9" width="120" height="101"/>
                </children>
                <children xmi:id="_wVEq4IcAEeWpKOiUw_s5xQ" type="State" element="_wVED0IcAEeWpKOiUw_s5xQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_wVEq5IcAEeWpKOiUw_s5xQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_wVEq5YcAEeWpKOiUw_s5xQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_wVEq5ocAEeWpKOiUw_s5xQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_wVEq54cAEeWpKOiUw_s5xQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_wVEq6IcAEeWpKOiUw_s5xQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wVEq6YcAEeWpKOiUw_s5xQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_wVEq6ocAEeWpKOiUw_s5xQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_wVEq4YcAEeWpKOiUw_s5xQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_wVEq4ocAEeWpKOiUw_s5xQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_wVEq64cAEeWpKOiUw_s5xQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wVEq44cAEeWpKOiUw_s5xQ" x="249" y="9" width="234" height="101"/>
                </children>
                <children xmi:id="_1e1aAIcAEeWpKOiUw_s5xQ" type="Entry" element="_1eyWsIcAEeWpKOiUw_s5xQ">
                  <children xmi:id="_1e2oIIcAEeWpKOiUw_s5xQ" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_1e3PMIcAEeWpKOiUw_s5xQ" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_1e3PMYcAEeWpKOiUw_s5xQ"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_1e3PMocAEeWpKOiUw_s5xQ"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_1e2oIYcAEeWpKOiUw_s5xQ" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1e2oIocAEeWpKOiUw_s5xQ"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_1e2BEIcAEeWpKOiUw_s5xQ" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1e2BEYcAEeWpKOiUw_s5xQ" x="15" y="42" width="15" height="15"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1afiAYb_EeWpKOiUw_s5xQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_1ads0Yb_EeWpKOiUw_s5xQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1ads0ob_EeWpKOiUw_s5xQ"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_1aVxAYb_EeWpKOiUw_s5xQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_1aVxAob_EeWpKOiUw_s5xQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_1aY0UYb_EeWpKOiUw_s5xQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1aVxA4b_EeWpKOiUw_s5xQ" x="40" y="5" width="747" height="823"/>
        </children>
        <children xmi:id="_fCK_sIcAEeWpKOiUw_s5xQ" type="State" element="_fCIjcIcAEeWpKOiUw_s5xQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_fCLmwIcAEeWpKOiUw_s5xQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_fCLmwYcAEeWpKOiUw_s5xQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_fCMN0IcAEeWpKOiUw_s5xQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_fCMN0YcAEeWpKOiUw_s5xQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_fCMN0ocAEeWpKOiUw_s5xQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fCMN04cAEeWpKOiUw_s5xQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_fCM04IcAEeWpKOiUw_s5xQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_fCK_sYcAEeWpKOiUw_s5xQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_fCK_socAEeWpKOiUw_s5xQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_fCM04YcAEeWpKOiUw_s5xQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fCK_s4cAEeWpKOiUw_s5xQ" x="800" y="5" width="728" height="386"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7JkaJIb-EeWpKOiUw_s5xQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_7JhW0Yb-EeWpKOiUw_s5xQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7JloQIb-EeWpKOiUw_s5xQ" x="228" width="1705" height="881"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_7Js9AIb-EeWpKOiUw_s5xQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_7Js9Aob-EeWpKOiUw_s5xQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7Js9A4b-EeWpKOiUw_s5xQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7JtkEIb-EeWpKOiUw_s5xQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_7JtkEYb-EeWpKOiUw_s5xQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7JtkEob-EeWpKOiUw_s5xQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7JuLIIb-EeWpKOiUw_s5xQ" width="229" height="419"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_7JdFYYb-EeWpKOiUw_s5xQ"/>
    <edges xmi:id="_X18CgIcAEeWpKOiUw_s5xQ" type="Transition" element="_X17bcIcAEeWpKOiUw_s5xQ" source="_7JloQob-EeWpKOiUw_s5xQ" target="_1aVxAIb_EeWpKOiUw_s5xQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_X18pkIcAEeWpKOiUw_s5xQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_X18pkYcAEeWpKOiUw_s5xQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_X18pkocAEeWpKOiUw_s5xQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_X18CgYcAEeWpKOiUw_s5xQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_X18Cg4cAEeWpKOiUw_s5xQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_X18CgocAEeWpKOiUw_s5xQ" points="[-5, 5, -5, 5]$[-5, 5, -5, 5]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZKVCkIcAEeWpKOiUw_s5xQ" id="(0.0013386880856760374,0.06318347509113001)"/>
    </edges>
    <edges xmi:id="_LwihgIcBEeWpKOiUw_s5xQ" type="Transition" element="_LwhTYIcBEeWpKOiUw_s5xQ" source="_1e1aAIcAEeWpKOiUw_s5xQ" target="_r5a-8IcAEeWpKOiUw_s5xQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_LwjIkYcBEeWpKOiUw_s5xQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LwjIkocBEeWpKOiUw_s5xQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LwjIk4cBEeWpKOiUw_s5xQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_LwihgYcBEeWpKOiUw_s5xQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_LwjIkIcBEeWpKOiUw_s5xQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_LwihgocBEeWpKOiUw_s5xQ" points="[7, 2, -27, 1]$[31, 2, -3, 1]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LwmL4IcBEeWpKOiUw_s5xQ" id="(0.04878048780487805,0.5365853658536586)"/>
    </edges>
    <edges xmi:id="_EEulAIcEEeWpKOiUw_s5xQ" type="Transition" element="_EEsv0IcEEeWpKOiUw_s5xQ" source="_r5a-8IcAEeWpKOiUw_s5xQ" target="_wVEq4IcAEeWpKOiUw_s5xQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_EEvMEYcEEeWpKOiUw_s5xQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_EEvMEocEEeWpKOiUw_s5xQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_EEvME4cEEeWpKOiUw_s5xQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_EEulAYcEEeWpKOiUw_s5xQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_EEvMEIcEEeWpKOiUw_s5xQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_EEulAocEEeWpKOiUw_s5xQ" points="[8, -64, -123, -3]$[83, -64, -48, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_EExBQIcEEeWpKOiUw_s5xQ" id="(0.935251798561151,0.8658536585365854)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_EExBQYcEEeWpKOiUw_s5xQ" id="(0.20977011494252873,0.23170731707317074)"/>
    </edges>
    <edges xmi:id="_KBQ04IcEEeWpKOiUw_s5xQ" type="Transition" element="_KBPmwIcEEeWpKOiUw_s5xQ" source="_wVEq4IcAEeWpKOiUw_s5xQ" target="_r5a-8IcAEeWpKOiUw_s5xQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_KBQ05IcEEeWpKOiUw_s5xQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_KBQ05YcEEeWpKOiUw_s5xQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_KBQ05ocEEeWpKOiUw_s5xQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_KBQ04YcEEeWpKOiUw_s5xQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_KBQ044cEEeWpKOiUw_s5xQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_KBQ04ocEEeWpKOiUw_s5xQ" points="[0, -2, 130, 4]$[-75, -2, 55, 4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KBRb8IcEEeWpKOiUw_s5xQ" id="(0.004273504273504274,0.8217821782178217)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KBRb8YcEEeWpKOiUw_s5xQ" id="(0.5227272727272727,0.7560975609756098)"/>
    </edges>
    <edges xmi:id="_Yid0gIcEEeWpKOiUw_s5xQ" type="Transition" element="_YidNcIcEEeWpKOiUw_s5xQ" source="_wVEq4IcAEeWpKOiUw_s5xQ" target="_wVEq4IcAEeWpKOiUw_s5xQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Yid0hIcEEeWpKOiUw_s5xQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Yid0hYcEEeWpKOiUw_s5xQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Yid0hocEEeWpKOiUw_s5xQ" x="-2" y="-94"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Yid0gYcEEeWpKOiUw_s5xQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Yid0g4cEEeWpKOiUw_s5xQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Yid0gocEEeWpKOiUw_s5xQ" points="[20, 8, 13, 31]$[57, 8, 50, 31]$[57, 27, 50, 50]$[20, 27, 13, 50]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YifCoIcEEeWpKOiUw_s5xQ" id="(0.9137931034482759,0.5121951219512195)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YifCoYcEEeWpKOiUw_s5xQ" id="(0.9454022988505747,0.2804878048780488)"/>
    </edges>
    <edges xmi:id="_qGg6EIcEEeWpKOiUw_s5xQ" type="Transition" element="_qGgTAIcEEeWpKOiUw_s5xQ" source="_wVEq4IcAEeWpKOiUw_s5xQ" target="_wVEq4IcAEeWpKOiUw_s5xQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_qGg6FIcEEeWpKOiUw_s5xQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qGg6FYcEEeWpKOiUw_s5xQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qGg6FocEEeWpKOiUw_s5xQ" x="-2" y="-96"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qGg6EYcEEeWpKOiUw_s5xQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qGg6E4cEEeWpKOiUw_s5xQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qGg6EocEEeWpKOiUw_s5xQ" points="[18, -18, 10, 5]$[55, -18, 47, 5]$[55, 1, 47, 24]$[18, 1, 10, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qGivQIcEEeWpKOiUw_s5xQ" id="(0.9230769230769231,0.3902439024390244)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qGivQYcEEeWpKOiUw_s5xQ" id="(0.9572649572649573,0.14634146341463414)"/>
    </edges>
    <edges xmi:id="_mUAxcIcHEeWpKOiUw_s5xQ" type="Transition" element="_mT_jUIcHEeWpKOiUw_s5xQ" source="_4CtyZYcIEeWpKOiUw_s5xQ" target="_4CtycYcIEeWpKOiUw_s5xQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_mUAxdIcHEeWpKOiUw_s5xQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_mUAxdYcHEeWpKOiUw_s5xQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_mUAxdocHEeWpKOiUw_s5xQ" x="-5" y="-10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_mUAxcYcHEeWpKOiUw_s5xQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_mUAxc4cHEeWpKOiUw_s5xQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_mUAxcocHEeWpKOiUw_s5xQ" points="[12, -3, -158, 2]$[175, -23, 5, -18]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mUCmoIcHEeWpKOiUw_s5xQ" id="(0.9387755102040817,0.30120481927710846)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mUCmoYcHEeWpKOiUw_s5xQ" id="(0.8712871287128713,0.24390243902439024)"/>
    </edges>
    <edges xmi:id="_x1VqIIcIEeWpKOiUw_s5xQ" type="Transition" element="_x1UcAIcIEeWpKOiUw_s5xQ" source="_4CtycYcIEeWpKOiUw_s5xQ" target="_4CtyZYcIEeWpKOiUw_s5xQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_x1WRMYcIEeWpKOiUw_s5xQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_x1WRMocIEeWpKOiUw_s5xQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_x1WRM4cIEeWpKOiUw_s5xQ" x="4" y="11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_x1VqIYcIEeWpKOiUw_s5xQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_x1WRMIcIEeWpKOiUw_s5xQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_x1VqIocIEeWpKOiUw_s5xQ" points="[-7, 1, 116, -20]$[-82, 1, 41, -20]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_x1XfUIcIEeWpKOiUw_s5xQ" id="(0.07920792079207921,0.7317073170731707)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_x1XfUYcIEeWpKOiUw_s5xQ" id="(0.7857142857142857,0.9879518072289156)"/>
    </edges>
    <edges xmi:id="_7mDWQIcIEeWpKOiUw_s5xQ" type="Transition" element="_7mCIIIcIEeWpKOiUw_s5xQ" source="_4CtyZYcIEeWpKOiUw_s5xQ" target="_4CtyfYcIEeWpKOiUw_s5xQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_7mD9UYcIEeWpKOiUw_s5xQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7mD9UocIEeWpKOiUw_s5xQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7mD9U4cIEeWpKOiUw_s5xQ" x="7" y="-61"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_7mDWQYcIEeWpKOiUw_s5xQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_7mD9UIcIEeWpKOiUw_s5xQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_7mDWQocIEeWpKOiUw_s5xQ" points="[95, 22, 9, -44]$[95, 58, 9, -8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7mGZkIcIEeWpKOiUw_s5xQ" id="(0.0,0.7228915662650602)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7mGZkYcIEeWpKOiUw_s5xQ" id="(0.45544554455445546,0.10975609756097561)"/>
    </edges>
    <edges xmi:id="_qrCKIIcJEeWpKOiUw_s5xQ" type="Transition" element="_qrBjEIcJEeWpKOiUw_s5xQ" source="_prUZkYcJEeWpKOiUw_s5xQ" target="_4CtyZYcIEeWpKOiUw_s5xQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_qrCKJIcJEeWpKOiUw_s5xQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qrCKJYcJEeWpKOiUw_s5xQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qrCKJocJEeWpKOiUw_s5xQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qrCKIYcJEeWpKOiUw_s5xQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qrCKI4cJEeWpKOiUw_s5xQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qrCKIocJEeWpKOiUw_s5xQ" points="[7, 0, -66, 4]$[74, -24, 1, -20]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qrDYQIcJEeWpKOiUw_s5xQ" id="(0.12244897959183673,0.26506024096385544)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
