<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_473i0HySEeW347imM4NFxg" specification="interface:&#xD;&#xA;in event mode&#xD;&#xA;&#xD;&#xA;var time:integer = 23 * 3600 + 59 * 60 + 45&#xD;&#xA;var hour24:integer&#xD;&#xA;var hour12:integer&#xD;&#xA;var min:integer&#xD;&#xA;var sec:integer&#xD;&#xA;&#xD;&#xA;operation display(hour:integer, min:integer, sec:integer):void&#xD;&#xA;&#xD;&#xA;internal:&#xD;&#xA;&#xD;&#xA;every 1s / &#xD;&#xA;time += 1; &#xD;&#xA;sec = time % 60; &#xD;&#xA;min = ( time / 60 ) % 60;  &#xD;&#xA;hour24 = ( time / 3600 ) % 24;&#xD;&#xA;hour12 = (( hour24  + 23 ) %12 ) + 1&#xD;&#xA;" name="timedClock">
    <regions xmi:id="_473i03ySEeW347imM4NFxg" name="main region">
      <vertices xsi:type="sgraph:State" xmi:id="_YLkgEHyTEeW347imM4NFxg" specification="every 1s / display(hour24, min, sec)" name="Clock24Hour" incomingTransitions="_YLoKc3yTEeW347imM4NFxg _ZyA5cHyTEeW347imM4NFxg">
        <outgoingTransitions xmi:id="_YLlHInyTEeW347imM4NFxg" specification="mode" target="_YLoKcHyTEeW347imM4NFxg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_YLoKcHyTEeW347imM4NFxg" specification="every 1s / display(hour12, min, sec)" name="Clock12Hour" incomingTransitions="_YLlHInyTEeW347imM4NFxg">
        <outgoingTransitions xmi:id="_YLoKc3yTEeW347imM4NFxg" specification="mode" target="_YLkgEHyTEeW347imM4NFxg"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_Y6pzoHyTEeW347imM4NFxg">
        <outgoingTransitions xmi:id="_ZyA5cHyTEeW347imM4NFxg" specification="" target="_YLkgEHyTEeW347imM4NFxg"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_473i0XySEeW347imM4NFxg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_473i0HySEeW347imM4NFxg" measurementUnit="Pixel">
    <children xmi:id="_473i1HySEeW347imM4NFxg" type="Region" element="_473i03ySEeW347imM4NFxg">
      <children xsi:type="notation:DecorationNode" xmi:id="_473i13ySEeW347imM4NFxg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_473i2HySEeW347imM4NFxg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_473i2XySEeW347imM4NFxg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_473i2nySEeW347imM4NFxg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_YLjR8HyTEeW347imM4NFxg" type="State" element="_YLkgEHyTEeW347imM4NFxg">
          <children xsi:type="notation:DecorationNode" xmi:id="_YLjR8XyTEeW347imM4NFxg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_YLjR8nyTEeW347imM4NFxg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_YLjR83yTEeW347imM4NFxg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YLjR9HyTEeW347imM4NFxg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_YLjR9XyTEeW347imM4NFxg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YLjR9nyTEeW347imM4NFxg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YLjR93yTEeW347imM4NFxg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_YLjR-HyTEeW347imM4NFxg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_YLjR-XyTEeW347imM4NFxg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_YLjR-nyTEeW347imM4NFxg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YLjR-3yTEeW347imM4NFxg" x="4" y="97" height="106"/>
        </children>
        <children xmi:id="_YLj5AHyTEeW347imM4NFxg" type="State" element="_YLoKcHyTEeW347imM4NFxg">
          <children xsi:type="notation:DecorationNode" xmi:id="_YLj5AXyTEeW347imM4NFxg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_YLj5AnyTEeW347imM4NFxg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_YLj5A3yTEeW347imM4NFxg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YLj5BHyTEeW347imM4NFxg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_YLj5BXyTEeW347imM4NFxg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YLj5BnyTEeW347imM4NFxg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YLj5B3yTEeW347imM4NFxg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_YLj5CHyTEeW347imM4NFxg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_YLj5CXyTEeW347imM4NFxg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_YLj5CnyTEeW347imM4NFxg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YLj5C3yTEeW347imM4NFxg" x="344" y="102" width="261" height="106"/>
        </children>
        <children xmi:id="_Y6sP4HyTEeW347imM4NFxg" type="Entry" element="_Y6pzoHyTEeW347imM4NFxg">
          <children xmi:id="_Y6teAHyTEeW347imM4NFxg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_Y6teA3yTEeW347imM4NFxg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_Y6teBHyTEeW347imM4NFxg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_Y6teBXyTEeW347imM4NFxg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Y6teAXyTEeW347imM4NFxg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Y6teAnyTEeW347imM4NFxg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Y6sP4XyTEeW347imM4NFxg" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Y6sP4nyTEeW347imM4NFxg" x="114" y="37"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_473i23ySEeW347imM4NFxg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_473i1XySEeW347imM4NFxg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_473i3HySEeW347imM4NFxg" x="10" y="355" width="751" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_479pj3ySEeW347imM4NFxg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_479pkXySEeW347imM4NFxg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_479pknySEeW347imM4NFxg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_479pk3ySEeW347imM4NFxg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_479plHySEeW347imM4NFxg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_479plXySEeW347imM4NFxg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_479plnySEeW347imM4NFxg" x="10" y="10" width="751" height="336"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_473i0nySEeW347imM4NFxg"/>
    <edges xmi:id="_YLpYkHyTEeW347imM4NFxg" type="Transition" element="_YLlHInyTEeW347imM4NFxg" source="_YLjR8HyTEeW347imM4NFxg" target="_YLj5AHyTEeW347imM4NFxg">
      <children xsi:type="notation:DecorationNode" xmi:id="_YLpYkXyTEeW347imM4NFxg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YLpYknyTEeW347imM4NFxg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YLpYk3yTEeW347imM4NFxg" y="-18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_YLpYlHyTEeW347imM4NFxg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_YLpYlXyTEeW347imM4NFxg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_YLpYlnyTEeW347imM4NFxg" points="[34, -10, -132, -7]$[124, -10, -42, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YLpYl3yTEeW347imM4NFxg" id="(0.8653846153846154,0.3561643835616438)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YLpYmHyTEeW347imM4NFxg" id="(0.15384615384615385,0.273972602739726)"/>
    </edges>
    <edges xmi:id="_YLp_oHyTEeW347imM4NFxg" type="Transition" element="_YLoKc3yTEeW347imM4NFxg" source="_YLj5AHyTEeW347imM4NFxg" target="_YLjR8HyTEeW347imM4NFxg">
      <children xsi:type="notation:DecorationNode" xmi:id="_YLp_oXyTEeW347imM4NFxg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YLp_onyTEeW347imM4NFxg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YLp_o3yTEeW347imM4NFxg" x="-1" y="-18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_YLp_pHyTEeW347imM4NFxg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_YLp_pXyTEeW347imM4NFxg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_YLp_pnyTEeW347imM4NFxg" points="[-31, 5, 134, 13]$[-121, 5, 44, 13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YLp_p3yTEeW347imM4NFxg" id="(0.11538461538461539,0.6986301369863014)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YLp_qHyTEeW347imM4NFxg" id="(0.8269230769230769,0.6712328767123288)"/>
    </edges>
    <edges xmi:id="_ZyDVsHyTEeW347imM4NFxg" type="Transition" element="_ZyA5cHyTEeW347imM4NFxg" source="_Y6sP4HyTEeW347imM4NFxg" target="_YLjR8HyTEeW347imM4NFxg">
      <children xsi:type="notation:DecorationNode" xmi:id="_ZyD8wXyTEeW347imM4NFxg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ZyD8wnyTEeW347imM4NFxg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ZyEj0HyTEeW347imM4NFxg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ZyDVsXyTEeW347imM4NFxg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ZyD8wHyTEeW347imM4NFxg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ZyDVsnyTEeW347imM4NFxg" points="[0, 7, 4, -91]$[-3, 64, 1, -34]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
